.card, .card-revealed, .card-clicked {
    width: 100%;
    height: 100%;
    background-color: lightgray; /* fallback */
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1em solid white;
    border-radius: .5em; /* 2px ≈ 0.125em */
    font-size: 1.25em; /* 20px ≈ 1.25rem */
    /* margin: 5%; */
    transition: background-color 0.8s ease;
    transition: border 0.8s ease-in;
}

.card:hover, .card-clicked:hover{
    background-color: lightgrey !important; 
}

.card-clicked {
    border: 0.1em solid rgb(7, 192, 7); 
    transition: border 0.8s ease-in;
}

.word {
    font-size: 1.38em;
    color: white;
    padding: 0.3em;
    transition: color 0.8s ease;
}
