.card, .card-revealed, .card-clicked {
    width: 100%;
    height: 100%;
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.1em solid beige;
    border-radius: .5em;
    font-size: 1.25em;
    letter-spacing: 0.07em;
    transition: border 0.8s ease-in;
}

.card:hover, .card-clicked:hover {
    background-color: lightgrey !important;
    transition: background-color 0.2s ease, border 0.8s ease-in;
}

.card-clicked {
    border: 0.1em solid rgb(172, 172, 172);
}

.card.red, .card-clicked.red, .card-revealed.red { background-color: red; transition: background-color 4s; }
.card.blue, .card-clicked.blue, .card-revealed.blue { background-color: blue; transition: background-color 4s; }
.card.yellow, .card-clicked.yellow, .card-revealed.yellow { background-color: orange; transition: background-color 4s; }
.card.grey, .card-clicked.grey, .card-revealed.grey { background-color: grey; transition: background-color 4s; }
.card.black, .card-clicked.black, .card-revealed.black { background-color: black; transition: background-color 4s; }

.word {
    font-size: 1.38em;
    color: white;
    padding: 0.3em;
    transition: color 0.8s ease;
}
