/* Center container */
.container-form {
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Inner white box */
.entry-form {
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  padding: 2em;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

/* Labels (Room, Name) */
.entry-form label {
  display: block;
  margin: 1em 0 0.25em;
  font-size: 1em;
}

.form-input {
  width: 100%;
  padding: 0.75em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
  letter-spacing: .05em;
  font-weight: lighter;
}

.form-button {
  width: 100%;
  padding: 0.75em;
  font-size: 1em;
  border: none;
  border-radius: 0.5em;
  background-color: #388e3c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 2em;
}

.form-button:hover {
  background-color: #2e7d32;
}

/* .form-textarea {
  resize: none;
  width: 100%;
  min-height: 6em;
  max-height: 10em;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  font-size: 1em;
  margin-top: 1em;
  letter-spacing: 1em;
} */
