/* html, body, #root {
height: 100%;
margin: 0;
overflow: hidden;
} */

.container-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  /* width: 60vw; */
  max-width: 60em;
  height: 60vh;
  max-height: 40em;
  gap: 0.4em;
  /* border: .05em solid black; */
  border-radius: .5em;
  padding: 0.6em;
}



.container-board.light {
  background-color: beige;
  box-shadow: none;
}

.container-board.dark {
  background: transparent;
  box-shadow: none;
}

/* @media screen and (min-width: 1281px) {
  .container-board {
    width: 90vw;
    max-width: 70em;
  }
} */