.clue-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    /* margin-top: 1em; */
}

.clue-form {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.clue-input {
    padding: 0.2em 1em;
    margin-top: 5%;
    font-size: 1.2em;
    border: 3px solid #ccc;
    border-radius: 6px;
    background: #fff;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}

.clue-input[type="text"] {
    width: 11em;
    margin-right: 2%;
}

.clue-input[type="number"] {
    width: 4em;
}

.clue-button {
    padding: 0.4em 1em;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 1.2em;
    width: auto;
    white-space: nowrap;    
    color: #fff;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}

.end-turn-button {
    margin-bottom: .8em;
    margin-left: 2em;
    font-size: .9em;
    letter-spacing: .05em;
}

.clue-button:hover {
    background: #c22;
}

.clue-display {
    font-size: 1.5em;
    color: darkslategray;
    width:max-content;
    border: 2px solid rgb(170, 170, 140);
    border-radius: 6px;
    padding: 0.5em 0.8em;
    margin-bottom: 0.2em;
}

.clue-display-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}

.clue-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5em;
    justify-content: flex-start;
}

/* .clue-input,
.clue-button {
    font-family: 'LittleMicroSans', sans-serif;
} */

/* @media screen and (min-width: 1281px) {

    .clue-container {
        margin-bottom: 2em;
    }

    .clue-input {
        font-size: 1.5em;
    }

    .clue-button {
        font-size: 1.5em;
    }

    .clue-display {
        font-size: 2.2em;
    }

} */

@media screen and (min-width: 1281px) {

    .clue-container {
        margin-bottom: 1em;
    }

    .clue-display {
        margin-bottom: .5em;
    }

    .clue-bottom {
        margin-bottom: .5em;
    }

}
