.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: stretch;
    transition: all 0.3s ease;
}

.game-container.light {
    background-color: beige;
}

.game-container.dark {
    background: linear-gradient(135deg, #B00000 0%, #004499 100%);
}


.vertical-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    height: 100%;
    padding-top: 2em;
}

.team {
    width: 15vw;
    min-width: 150px;
    align-self: stretch;
    display: flex;
    align-items: center;
    /* height: 100vh; */
}

.team.red {
    justify-content: flex-end;
}

.team.blue {
    justify-content: flex-start;
}

.title {
    font-size: 3.5em;
    margin: 0 0 0.4em 0;
    letter-spacing: .2em;
    text-align: center;
}

.board {
    flex: 1 1 auto;
    margin-top: 0;
}

.clue {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: .2em; */
    width: 40%;
    margin-bottom: 4.5em;
}

.swal2-container {
    display: inline-block;
    padding-top: 16.5em;
}

.swal2-popup {
    width: 42em;    
}

.swal2-confirm {
    background-color: red;
}

/* button.swal2-styled.swal2-confirm {
    font-family: LittleMicroSans;
} */

div:where(.swal2-container) button.swal2-styled.swal2-confirm:hover {
    background-color: gray;
    transition: background-color 0.4s ease;
}

.swal2-styled:focus {
  outline: none;
  box-shadow: none;
}

.undefined {
    font-size: 1.5em;
    margin-top: 2em;
    text-align: center;
}

/* @media screen and (min-width: 1281px) {
    .vertical-container {
      padding-top: 3em;
    }
  
    .title {
      font-size: 5em;      
      margin-bottom: 0.7em;
    }
  
    .clue {
      width: 30%;          
      margin-bottom: 6.5em;
    }
  
    .swal2-container {
      padding-top: 18em;
    }
  
    .swal2-popup {
      width: 50em;
    }

  } */

  @media screen and (min-width: 1281px) {
    .game-container {
      width:  calc(100vw / 1.15);
      height: calc(100vh / 1.15);
  
      transform: scale(1.15);
      transform-origin: top left;
    }
  }

/* Game-specific styles only */